.navbar-container {
  backdrop-filter: blur(20px);
  background-color: rgba(242, 242, 242, 0.05);
  border: 1px solid rgba(242, 242, 242, 0.1);
  border-radius: 24px;
  justify-content: space-between;
  align-items: center;
  max-width: 450px; /* Se establece un ancho máximo */
  width: 100%; /* Se asegura que la barra use todo el ancho disponible */
  height: 48px;
  padding: 0 6px; /* Ajusta el padding para que no afecte a los botones */
  display: flex;
  position: relative;
  box-shadow: rgba(142, 142, 142, 0.24) 0px 3px 8px;
  overflow: hidden;
}

.navbar {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 1;
}

.nav-button {
  color: #f0ece5;
  flex: 1; /* Esto asegura que cada botón tome un tercio del espacio disponible */
  padding: 10px 0; /* Ajusta el padding vertical para que los botones no se hagan muy grandes */
  text-align: center; /* Centra el texto dentro de los botones */
  background: none;
  border: none;
  font-size: 16px; /* Ajusta el tamaño del texto según necesidad */
  cursor: pointer;
  outline: none;
  z-index: 2;
  transition: background-color 0.3s ease, color 0.3s;
  border-radius: 18px;
}

.nav-button:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(30px);
}

.nav-button.active {
  pointer-events: none;
  background-color: transparent;
  border-radius: 18px;
}

.nav-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 33.33%; /* Esto debe ajustarse dinámicamente si cambia el número de botones */
  background-color: #23273b;
  transition: left 0.3s ease;
  border-radius: 18px;
}

@media (max-width: 768px) {
  .nav-button {
    font-size: 14px; /* Reduce el tamaño del texto en pantallas pequeñas */
    padding: 10px 5px; /* Reduce el padding horizontal */
  }

  .navbar-container {
    padding: 0 4px; /* Reduce el padding del contenedor en pantallas pequeñas */
  }
}
